* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

h1 {
    margin-bottom: 20px;
    font-size: 28px; /* 增大字体大小 */
    color: #333;
}

.game-container {
    width: 448px; /* 640px * 0.7 */
    height: 448px; /* 640px * 0.7 */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    
    gap: 14px; /* 调整间距以适应卡牌大小 */
    perspective: 1000px;
}

.card {
    width: 105px; /* 150px * 0.7 */
    height: 105px; /* 150px * 0.7 */
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    cursor: pointer;
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-front img, .card-back img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.card-back {
    transform: rotateY(180deg);
}

.card.flipped {
    transform: rotateY(180deg);
}

.controls {
    margin-top: 20px;
}

#startButton {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}
.controls {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#restartButton {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    display: none; /* 初始时隐藏 */
}
.grid-2x2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.grid-2x4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.grid-4x4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
.grid-6x6 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
}
/* 卡片基础样式 */
.card {
    width: 70px;
    height: 70px;
    perspective: 1000px;
    position: relative;
}
